.venv
.venv/
*.env
*.env.backend.dev
.env*
__pycache__
Dockerfile
Dockerfile.frontend
notes.txt
docker-compose.yml
.vscode/
.idea/
*.sqlite3
db.sqlite3
/media/
staticfiles/
Thumbs.db
celerybeat-schedule
celerybeat.pid
*.log
*.pid
market_data_csv/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
build/
dist/
